:root {
    --white: white;
    --dark: #212427;
    --text-color: #212427;
    --accent-color: #2badad;
    --btn-cell-color: white;
    --background-color: white;
    --bold-text-color: #2badad;
    --scrollbarTrack-color: #f1f1f1;
    --popupcontent-color: white;
    --searchBar-color: #212427;
    --hover-color: #2badad;

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.05),
        0.4px 0.7px 0.9px -1.2px hsl(var(--shadow-color) / 0.05),
        0.8px 1.5px 1.9px -2.5px hsl(var(--shadow-color) / 0.05);
    --shadow-elevation-medium:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.05),
        0.6px 1.1px 1.4px -0.6px hsl(var(--shadow-color) / 0.05),
        1px 2.1px 2.6px -1.2px hsl(var(--shadow-color) / 0.05),
        2px 4px 5px -1.9px hsl(var(--shadow-color) / 0.05),
        3.9px 7.7px 9.7px -2.5px hsl(var(--shadow-color) / 0.05);
    --shadow-elevation-high:
        0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
        0.8px 1.5px 1.9px -0.3px hsl(var(--shadow-color) / 0.04),
        1.3px 2.5px 3.2px -0.6px hsl(var(--shadow-color) / 0.04),
        1.8px 3.7px 4.6px -0.8px hsl(var(--shadow-color) / 0.04),
        2.6px 5.3px 6.6px -1.1px hsl(var(--shadow-color) / 0.04),
        3.7px 7.5px 9.4px -1.4px hsl(var(--shadow-color) / 0.04),
        5.3px 10.6px 13.3px -1.7px hsl(var(--shadow-color) / 0.04),
        7.3px 14.7px 18.5px -1.9px hsl(var(--shadow-color) / 0.04),
        10px 20.1px 25.3px -2.2px hsl(var(--shadow-color) / 0.04),
        13.5px 27px 34px -2.5px hsl(var(--shadow-color) / 0.04);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-color);
    border-radius: 50px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

::selection{
    background-color: var(--accent-color);
    color: var(--white);
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin:0px;
    color: var(--dark);
    background-color: var(--background-color);
}

.c-collection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* background-color: var(--background-color); */
}
.c-head{
    margin: 88px 0px;
}

.c-search-container{
    position: relative;
   border: 2px solid var(--searchBar-color);
   height: 50px;
   display: flex;
    align-items: center;
    border-radius: 10px;
}

.c-search-container:hover{
    transform: scale(1.01);
    border: 2px solid var(--hover-color);
}

.c-search-container::selection {
}

.c-search{
    height: 50px;
    width: 480px;
    font-size: 20px;
    border-radius: 10px;
    /* position: relative; */
    border: none;
    background-color: transparent;
    color: var(--text-color)
}

input.c-search:focus{
    outline: none;
}

.c-search__icon{
    /* position: absolute; */
    top: center;
    right: center;
    /* transform: translateY(-50%); */
    color: var(--searchBar-color);
}

.material-icons.md-40 {
    font-size: 40px;
    top: center;
    right: center;
    /* transform: translateY(-50%); */
    /* color: var(--accent-color) */
}

.material-icons.md-40:hover {
    color: var(--hover-color);
}

button.c-btn{
    padding: 0px;
    height: 50px;
    display: flex;
    align-items: center;
}

button.c-btn:hover{
    /* border: none;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.2s ease-in-out; */
    background-color: transparent;
}

button.c-btn:focus{
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

.c-container{
    margin: 0px;
    /* min-height: 100vh; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 80vw;
    height: 72vh;
    padding: 10px 0px;
    border-radius: 20px;
}


.canvas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto; */
    /* box-shadow: var(--shadow-elevation-medium) */
    gap: 30px;
    position: relative;
}

.cell {
    /* border-right: 15px solid var(--dark);
    border-bottom: 15px solid var(--dark); */
    /* border: 1px solid black; */
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    border-radius: 20px;
    width: 300px;
    height: 200px;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}




.flag{
    /* position: absolute; */
    top: 20px;
    right:center;
    width: 60px;
    height: 38px;
    margin-left: 15px;
    /* border: 2px solid black; */
    /* padding: 1px; */
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.c-cellText{
    margin: 0px;
    /* position: absolute; */
    right: center;
    bottom: 50px;
    font-size: 25px;
    color:var(--text-color);
}

.c-cellText--sub{
    margin: 0px;
    position: absolute;
    right: center;
    bottom: 40px;
    font-size: 0.875rem;
    color:var(--text-color);
}

.c-popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.c-popup-content {
    width: 50vw;
    height: 40vh;
    background-color: var(--background-color);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 10px 20px;
    opacity: 0;
    transform: scale(0);
    transition: .2s ease opacity, .2s ease transform;
    color: var(--text-color);
}

.c-close{
    cursor: pointer; 
    position: absolute;   
    top: 20px;
    right: 20px;
}

.c-close:hover{
    transform: scale(1.2);
}

.c-land-name{
    font-size: 1.875rem;
    margin: 0px 30px
}

.c-content-cell {
    display: flex;
    /* margin: 10px; */
    align-items: center; 
    overflow: auto;
    min-height: 90px;
}

.c-content-cell::-webkit-scrollbar {
    width: 5px;
}

/* Track */
.c-content-cell::-webkit-scrollbar-track {
    background: var(--scrollbarTrack-color);
    border-radius: 50px;
}

/* Handle */
.c-content-cell::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 50px;
}

/* Handle on hover */
.c-content-cell::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.c-chart{
    width: 100%;
    height: 100%;
}

.c-continents{
    display: flex;
}

.c-continents__item{
    margin-right: 5px;
}

.c-counter{
    line-height: 22px;
    position: relative;
    color: var(--text-color);
    /* left: 12vw; */
}

button.c-btn-continent:focus{
    outline: none;
    color: white;
    background-color:var(--accent-color);
}

button{
    border: none;
    padding: 2px 10px;
    margin-right: 5px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    font-size: inherit;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
}
button:hover{
    background-color: var(--accent-color);;
    color:white;
}



.c-btn-cell{
    background-color: var(--btn-cell-color);
    border-radius: 20px;
    padding: 0px;
}


button.c-btn-cell:hover {
    transform: scale(1.05);
    background-color: transparent;
    color: var(--dark);
} 

button.c-btn-cell:focus{
    transform: scale(1.05);
    outline: none;
}
.loader {
    display: none;
    z-index: 100;
    position: absolute;
    top: 50%;
    left: center;
    border: 16px solid transparent;
    border-radius: 50%;
    border-top: 16px solid var(--accent-color);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s ease-in-out infinite;
    /* Safari */
    animation: spin 1s ease-in-out infinite;
}
.c-btn-dark{
    position: relative;
    padding: 0px;
    right: 0.5rem;
}
.c-btn-dark:focus{
    transform: scale(1.05);
}

.c-incorrect{
    color: red;
    margin: 0;
    margin-top: 5px
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.c-fade{
    transition: 0.1s all ease-in-out;
    opacity: 0;
}

.fadein {
    animation: fadeIn 0.9s;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.c-b-counter{
    color:var(--bold-text-color);
}

@media (min-width: 320px) {
    .c-content-cell {
        min-height: auto;
    }
    .c-container {
            width: 100vw;
            height: 70vh;
        }

     .c-head{
        margin: 50px 0px 35px 0px ;
     }    

     .flag{
        position: absolute;
        top: 20px;
        right: 20px;
     }
    .c-search
    {
        width: 100%;
        font-size: 16px;
    }
    .c-search-container {
        width: 80vw;
    }

    .material-icons.md-40 {
        font-size: 30px;
    }

    .c-head-container{
        width: 88vw;
    }
    .c-continents{
        flex-wrap: wrap;
        justify-content: center;
    }
    .cell{
        width: 80vw;
        height: 180px;
    }

    .c-cellText{
        font-size: 1.25rem;
    }

    .c-cellText--sub{
        font-size: 0.75rem;
    }

    .canvas {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }


    .c-counter {
        /* left: 13rem; */
        display: none;
    }

    .c-chart {
        height: 108%;
    }


    .c-popup-content {
        width: 90vw;
        height:max-content;
        border-radius: 10px;
        text-align: center;
        padding: 10px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 10px 20px;

    }

    .c-close {
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .c-klein {
        display: none;
    }
    .toggle-checkbox {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    

    .toggle-slot {
        position: relative;
        height: 2rem;
        width: 4rem;
        margin-top: 1rem;
        /* border: 2px solid var(--dark); */
        border-radius: 10rem;
        background-color: var(--white);
        box-shadow:  0 0 4px rgba(0, 0, 0, 0.136), 0 2px 8px rgba(0, 0, 0, 0.168);
        transition: background-color 250ms;
        cursor: pointer;
    }

    .toggle-checkbox:checked~.toggle-slot {
        background-color: var(--dark);
    }

    .toggle-button {
        transform: translate(2.5rem, 0.5rem);
        position: absolute;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        box-shadow: inset 0px 0px 0px 0.75rem var(--accent-color);
        transition: background-color 250ms, border-color 250ms, transform 150ms cubic-bezier(.26, 2, .46, .71);
    }

    .toggle-checkbox:checked~.toggle-slot .toggle-button {
        box-shadow: inset 0px 0px 0px 0.75em var(--accent-color);
        transform: translate(0.5rem, 0.5rem);        
    }

    .sun-icon {
        position: absolute;
        height: 1rem;
        width: 1rem;
        color: var(--accent-color);
    }

    .sun-icon-wrapper {
        position: absolute;
        height: 1rem;
        width: 1rem;
        opacity: 1;
        transform: translate(0.2rem, 0.52rem) rotate(0deg);
    }

    .toggle-checkbox:checked~.toggle-slot .sun-icon-wrapper {
        opacity: 0;
        transform: translate(2.5em, 0.5rem) rotate(0deg);
    }

    .moon-icon {
        position: absolute;
        height: 1rem;
        width: 1rem;
        color: var(--accent-color);
    }

    .moon-icon-wrapper {
        position: absolute;
        height: 1rem;
        width: 1rem;
        opacity: 0;
        transform-origin: 50% 50%;
    }

    .toggle-checkbox:checked~.toggle-slot .moon-icon-wrapper {
        opacity: 1;
        transform: translate(2em, 0.5rem);
    }
    .toggle-slot {
        position: relative;
        bottom: 0.5rem;
        /* right: 0.5rem; */
        /* margin-top: -15px;
        margin-bottom: 15px; */
        }

    .c-head-container {
        display: flex;
        width: 84vw;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 0.375rem;
    }
    .c-btn-dark{
        margin-top: -15px;
        margin-bottom: 15px;
        right: 0rem;
    }
    
    .c-btn-dark:hover {
        background-color: transparent;
    }

    .c-btn-dark:focus {
        transform: scale(1.05);
        outline: none;
    }
}

@media (min-width: 450px) {
    .canvas {
            grid-template-columns: 1fr 1fr;
        }

    .c-search-container {
        width: 60vw;
    }
    .cell {
        width: 40vw;
    }
}

@media (min-width: 576px) {
    .canvas {
    }

    .cell {

    }
}

@media (min-width: 768px) {
    .c-content-cell {
            min-height: auto;
        }
    .canvas {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .c-search-container {
        width: 45vw;
    }

    .flag{
        top: 15px;
    }
    .c-cellText--sub{
        bottom: 20px
    }

    .cell {
        width: 25vw;
    }
    .c-popup {
        width: 100%;
        height: 100%;      
    }

    .c-popup-content {
        width: 60vw;
        height: 45vh;
    }

}

@media (min-width: 992px) {
    .canvas {

    }

    .c-cellText--sub{
        bottom: 30px;
    }

    .c-cellText {
        font-size: 1.375rem;
    }
    .c-popup {
        width: 100%;
        height: 100%;
    }

    .c-popup-content {
        width: 60vw;
        height: 45vh;
    }
    .myChart{
        height: 5vh;
    }
    .c-counter {
        display: block;
    }
    .c-head-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 82vw;
    }
    .toggle-slot {
        position: relative;
        bottom: 0;
        /* right: 0.5rem; */
        margin: 0;
    }
    .c-btn-dark {
        margin-top: 0;
        margin-bottom: 0;
        right: 0.5rem;
    }
}

@media (min-width: 1200px) {
    .c-container{
        width: 95vw;
        height: 67vh;
    }
    .c-search-container {
        width: 40vw;
    }
    .c-head{
        margin: 88px 0px;
    }

    .canvas {
        grid-template-columns: 1fr 1fr 1fr 1fr;

    }
    .cell {
        width: 20vw;
    }
    .c-counter {
        /* left: 8vw; */
        color: var(--text-color);
        display: block;
    }

    .c-chart {
        height: 108%;
    }

    .c-popup {
        width: 100%;
        height: 100%;
    }

    .c-popup-content {
        width: 60vw;
        height: 45vh;
    }
    .c-klein {
        display: flex;
    }
    .c-popupTitle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .c-line-title{
        border-top: 4px solid var(--accent-color);
        width: 3vw;
        margin: 0 10px;
    }

    .c-line-right{
        margin-right: 5px;
        border-right: 3px solid var(--accent-color);
        height: 1rem;
    }
    .c-head-container {
        width: 89vw;
    }
    .c-land-name {
        margin: 0px;
    }
}

@media (min-width: 1600px) {
    .c-container {
        width: 85vw;
        height: 70vh;
    }

    .canvas {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .c-search-container {
        width: 35vw;
    }

    .c-search {
        font-size: 20px;
    }
    
    .material-icons.md-40 {
        font-size: 40px;
    }

    .cell {
        width: 300px;
        height: 200px;
    }
    .c-counter {
        /* left: 13rem; */
    }

    .c-chart {
        height: 108%;
    }

    .c-popup {
        width: 100%;
        height: 100%;
    }

    .c-popup-content {
        width: 50vw;
        height: 45vh;
    }

    .myChart {
        height: 25vh;
    }
    .c-popupTitle{
        display: flex;
    }
    .c-head-container {
        width: 77vw;
    }
}

.u-x-span-2{
    grid-column: span 2;
}

.u-x-span-1{
    grid-column: span 1;
}

.u-y-span-5 {
    grid-row: span 6;
}

.u-y-span-2{
    grid-row: span 2;
}

.u-height-width-small{
    width: 40px;
    height: 18px;
}

.u-center{
    text-align: center;
}

.u-end{
    justify-content: flex-end;
}

.u-justify-center{
    justify-content: center;
}

.u-width{
    width: 300px;
}

.u-is-selected{
    background-color: var(--accent-color);;
    color: white;
    transform: scale(1.0);
    transition: .2s ease transform;
}

.u-textParagraphStart{
    text-align: start;
}

.u-textParagraphEnd{
    text-align: end;
}

.u-radius-50{
    border-radius: 50px;
}

.u-max-height-135{
    max-height: 135px;
}